html,
body {
    overflow-x: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    color: var(--darkbg);
}

h1 {
    font-size: 4em;
    margin-block: 0.3em;
    color: var(--green);
}

h2 {
    font-size: 2em;
    margin-block: 0.83em;
}

h3 {
    font-size: 1.5em;
    margin-block: 0.83em;
}

/* colors */
:root {
    --green: #81992b;
    --darkbg: #323531;
    --lightbg: #e9dcd2;
    --lighttext: #f2f2f2;
    --hover: #ddd;
}

.fa,
.fa-brands {
    color: var(--green);
}

a {
    color: var(--green);
}

/* top navigation */

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--darkbg);
    display: flex;
}

.topnav .logo {
    height: 40px;
    padding: 4px;

}

.topnav .logo img {
    height: 100%;
}

.topnav a {
    color: var(--lighttext);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:not(.logo):not(.icon):hover {
    background-color: var(--hover);
    color: black;
}

.topnav a.active {
    background-color: var(--green);
    color: white;
}

.topnav .icon {
    display: none;

}

.topnav .icon i {
    color: var(--lighttext);
}

.topnav .phone {
    display: none;
}

@media screen and (max-width: 650px) {
    .topnav a:not(:first-of-type) {
        display: none;
    }

    .topnav a.icon {
        display: block;
    }

    .topnav .phone {
        display: block;
        color: var(--lighttext);
        text-align: center;
        margin: auto;
        font-size: 20px;

    }

    .topnav .phone i {
        color: var(--green);
    }

    .topnav.open {
        flex-direction: column;
    }

    .topnav.open .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.open a {
        display: block;
        text-align: left;
    }

    .topnav.open .phone {
        display: none;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

#overlay.open {
    display: block;
}

/* content area */

.content-area {
    margin-top: 48px;
    flex-grow: 1;
}

/* sections */

section {
    box-sizing: border-box;
    width: 1000px;
    scroll-margin-top: 47px;
    margin: 0 auto;
    padding: 30px 15px;

}

@media screen and (max-width: 1000px) {
    section {
        width: 100%;
        margin: 0;
    }
}

/* footer */
footer {
    background-color: var(--darkbg);
    color: var(--lighttext);
}

#footer {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer>div {
    padding: 15px;
    flex: 1;
}

@media screen and (max-width: 1000px) {
    #footer {
        width: 100%;
    }
}